#actions
  = link_to "New", new_admin_site_path

%table
  %thead
    %tr
      %th(style="width: 50px") ID
      %th(style="width: 100px") Subdomain
      %th Title
      %th(style="width: 150px") Dropbox
      %th(style="width: 150px") Last Updated
      %th(style="width: 150px") Actions
  %tbody
    - @sites.each do |site|
      %tr{:class => cycle("odd", "even")}
        %td= site.id
        %td= site.domain
        %td= site.title
        %td
          - if site.dropbox.authorized?
            Authorized.
          - else
            = link_to "Click to authorize", site.dropbox.authorize_url(:oauth_callback => authorize_admin_site_url(site))
        %td= time_ago_in_words(site.updated_at) + " ago"
        %td
          = link_to "Edit", edit_admin_site_path(site)
          = link_to "Destroy", admin_site_path(site), :method => :destroy